<h1>Create</h1>

    {{ form_errors(tournamentForm) }}

    {{ form_start(tournamentForm) }}
        {{ form_row(tournamentForm.name) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(tournamentForm) }}