html{
  height: 100%;
}

* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Style des labels */
form .input-create-tournament{
  outline: 0;
  border-width: 0 0 2px;
}

/* Match */
.card:not(.post-form) {
  display:inline-block;
  height: 15rem;
}

.terrain-content{
  background-color:#3a8eba;
  height:19rem;
}

.player{
  width: 50%;
  height: 6rem;
  border-bottom: 2px solid white;
}

.player.left{
  float: left;
  border-right: 2px solid white;
}

.player.right{
  float: right;
}

.terrain-separator{
  height: 8.5rem;
  border-bottom: 2px solid white;
}

.player_nb {
  position: relative;
  top: 2rem;
  font-size: 1.2rem;
  border: 1px solid white;
  background-color: white;
  padding: .33rem;
  border-radius: 5px;
  color: #3a8eba;
  font-weight: bold;
}

.ligne-fond.top{
  height: 2rem;
  border-bottom: 2px solid white;
}

.corridor{
  position: absolute;
  height: 20rem;
}

.corridor.left{
  left: 1rem;
  border-right: 2px solid white;
  top: 25px;
}

.corridor.right{
  right: 1rem;
  border-left: 2px solid white;
  top: 25px;
}

.information{
  background-image: url('/media/background-1.jpg');
  background-position: center;
  background-size: cover;
}
  
  @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
  }

  .winner-selected:hover{
    cursor: pointer;
  }

  .winner .player{
    background-color:#D4AF37;
  }

  .team-replayed{
    color: #fd7e14;
    position: absolute;
    bottom: -2.5rem;
    left: 28%;
  }

  .create-match{
    position: absolute;
    top: 10rem;
    left: 3.5rem;
    color: white;
    width: 11rem;
  }

  .create-match:hover{
    cursor: pointer;
  }

  .content-turn{
    background: rgb(255,253,231);
    background: linear-gradient(90deg, rgba(255,253,231,1) 0%, rgba(211,211,211,0.5970588919161415) 70%);
    background-attachment: fixed;
    min-height: 100vh;
  }

  .btn-next-turn{
    background-color: #28A745!important;
    color: white!important;
  }

  .btn-show-results{
    background-color: #1A73E8!important;
    color: white!important;
  }

  .btn-next-turn:hover, .btn-show-results:hover{
    opacity: 0.5;
  }